@import '../govuk-toolkit/stylesheets/_grid_layout.scss';
@import '../govuk-toolkit/stylesheets/_colours.scss';
@import '../govuk-toolkit/stylesheets/design-patterns/_alpha-beta.scss';

* {
    box-sizing: border-box;
}

body {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.container {
    margin: 4em;
    display: flex;
    flex-flow: column nowrap;
}

#alert:empty {
    display: none;
}

#alert {
    border-radius: 8px;
    padding: 8px;

}

#holder {
    margin-bottom: 3em;
}

#previous-instructions {
  display: flex;
  flew-flow: row nowrap;
  justify-content: space-between;
}

#previous-holder {
    display: block;
}

#previous {
    display: flex;
    flex-flow: column nowrap;
}

#previous .row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

#previous .row > * {
    margin-left: 1em;
    margin-right: 1em;
}

.click-target {
  text-decoration: underline;
  color: $link-colour;
  cursor: pointer;
}

.instruction, .question {
  margin-bottom: 1em;
}

.col {
  width: 33%;
}

/*  Toolkit stuff */

.phrase-banner {
  @include phase-banner()
}