@import '../govuk-toolkit/stylesheets/_grid_layout.scss';
@import '../govuk-toolkit/stylesheets/_colours.scss';
@import '../govuk-toolkit/stylesheets/design-patterns/_alpha-beta.scss';

* {
  box-sizing: border-box;
}

#alert:empty {
  display: none;
}

#alert {
  border-radius: 8px;
  padding: 8px;
}

#holder {
  margin-top: 2em;
  margin-bottom: 3em;
}

#previous-holder {
  display: block;
}

#previous {
  display: flex;
  flex-flow: column nowrap;
  .row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    > * {
      margin-left: 1em;
      margin-right: 1em;
    }
  }
}

#previous-instructions {
  margin-bottom: 0.5em;
  a {
    margin-left: 2em;
  }
}

.click-target {
  text-decoration: underline;
  color: $link-colour;
  cursor: pointer;
}

.instruction, .question {
  margin-bottom: 1em;
}

.js-col {
  width: 33%;
}

/*  Toolkit stuff */

.phrase-banner {
  @include phase-banner()
}

.container {
  @extend %site-width-container;
}