@(process: String)

    @main("Smart Answer Demo") {

        <div class="container">
            <div id="alert">

            </div>

            <div id="holder">
                <div></div>

            </div>

            <div id="previous">

            </div>
        </div>


        <script src="@routes.Assets.versioned("javascripts/common.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/functions.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/types.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/chat2.js")"></script>

    }
